body{
    background-color: #000;
    text-align: center;
    margin: 0;
    overflow: hidden;
  }
  .players{
    margin: auto;    
    display: flex;
    background-color: white;
    justify-content: center;
  }
  .players>div{
    height: 10vh;
    width: 10vw;
    align-self: stretch;
  
  }
  
  .container{
    visibility: hidden;
    position: absolute;
    top: 10vh;
    left: 5vw;
    display: grid;
    grid-gap: 0.2em;
    background-color:red;
    justify-content: center;
    align-items: center;
    z-index: -1;
    border: 0.2em solid red;
  }
  .container>div{
    background:rgb(20 , 20, 20);
    height: 14vh;
    width: 14vh;
    z-index: 0;
    justify-content: center;
    align-items: center;
  }
  .container>div>div{
    height:20px;
    width:20px;
    left: 4vh;
    top: 6vh;
    margin-top: -10px;
    margin-left: 10px;
    border-radius:50%;
    z-index:9999;
    position: relative;
    animation: rotate 2s linear 0s infinite alternate;
    transform-origin: 45% 45% ; 
    /* animation: split_right 2s linear 0s infinite;   */
  }
  @keyframes rotate{
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
  
      }
  }
  
  @keyframes split_right{
    from { left:0;}
    to {left:14vh;}
    
  }
  @keyframes split_top{
    from { top:0px;}
    to {top:14vh;}
  }
  @keyframes split_left{
    from { left:0px;}
    to {left:-14vh;}  
  }
  @keyframes split_down{
    from { top:0px;}
    to {top:-14vh;}
  }
  
  #text{
    background-color: wheat;
  }
  
  #modal{
    height: 100vh;
    width: 100vw;
    background-color: #222233;
    transition: transform 1s;
    z-index: 0;
  }
  .animated_title{
    color: red;
    font-size: 8em;
    position: absolute;
    top: 20%;
    width: 100vw;
    
  }
  /* .text_hider{
    position: absolute;
    top: 20%;
    width: 100vw;
    height: 8em;
    transition: transform 5s;
    z-index: 9999;
  } */
  button{
    position: absolute;
    top: 60%;
    left: 45%;
    padding: 1.5em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1.5em;
    outline: none;
  }
  
  button:active{
    transform: scale(1.1);
  }